html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.word-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .filters {
    display: flex;
    align-items: center;
  }

  .filters > * {
    margin: 0.25rem /* 4px */;
  }

  .input {
    margin: 0.25rem;
    border-radius: 0.375rem;
    border-width: 1px;
  }

  .loader {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .word-component {
    flex: 1 1 0%;
    overflow: auto;
    margin: 0.25rem;
    border-radius: 0.375rem;
    border-width: 1px;
  }
}
