@import '../../../../node_modules/allotment/dist/style';

// Copied from paranext-core's resource-viewer for now
@import './editor-styles/styles';
@import './editor-styles/editor';
@import './editor-styles/editor-overrides';

%full-height {
  height: 100%;
}

html {
  @extend %full-height;

  overflow: hidden;
}

body {
  @extend %full-height;

  margin: 0;
}

#root {
  @extend %full-height;
}

.text-collection {
  @extend %full-height;

  display: flex;
}

%view {
  @extend %full-height;

  overflow-y: auto;
}

%text-display {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

%text-title {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: #336e0b;
}

.verse-view {
  @extend %view;

  display: flex;
  flex-direction: column;
  flex: 1;

  .verse-content {
    cursor: pointer;

    &.selected {
      background-color: #eee;
    }

    .title {
      @extend %text-title;

      min-width: 64px;
      padding: 6px 8px;
      border-radius: 4px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-inline: 10px;
    }

    .text {
      @extend %text-display;
      margin-top: 0;
      margin-inline: 10px;
    }
  }

  .select-projects-button {
    align-self: center;
    width: 40px;
    height: 40px;
  }
}

.full-chapter-view {
  @extend %view;

  flex: 1;
  padding-inline: 10px;
  position: relative;

  .position-title {
    @extend %text-title;
  }

  .position-text {
    @extend %text-display;
    margin-top: 50px;
  }
}

.context-menu {
  svg {
    margin-right: 8px;
  }
}
